# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

# framework related stuff..
.htaccess
config.py
framework/tmp/*
framework/analyses/*
framework/errors/*

#nonsense
*.DS_Store
*~

#emacs temp files
\#*

#R command history
.Rhistory
framework/TEMP_MATRIX
framework/dependancy_check.py
framework/helper_functions.py.orig
testinstall.py