# platform dependent python byte code files.
*.pyc

# temporary vi files.
*.sw*

# framework related stuff..
.htaccess
config.py
framework/tmp/*
framework/analyses/*
framework/errors/*

#nonsense
.DS_STORE
*~
#*#