body {
    background: url(/static/header.png) top left no-repeat;
}

#wrapper {
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid black;
}

.head {
    font-size: 3em;
    border-bottom: 1px solid #ADADAD;
}
/**for js switch **/
.switch-box {
	width:260px;
	height:66px;
	position:relative;
	margin: 10;
	/**border:1px solid #07060a;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#2a2833 ), to(#464451));
    background: -moz-linear-gradient(-90deg, #464451, #2a2833 );
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	-webkit-box-shadow:inset 0 1px 0 #62616c, 0 0 6px #292739;
    -moz-box-shadow: inset 0 1px 0 #62616c, 0 0 6px #292739;
    box-shadow: inset 0 1px 0 #62616c, 0 0 6px #292739;**/
}

.item:hover h2 {
	color:#C9D0D9;
}

.switcher {
	list-style:none;
	padding:1px;
	position:absolute;
	right:8px;
	top:0px;
	/**background:#413F4A;**/
	-webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.switcher li {
	float:left;
}

.switcher li a {
	font:13px/30px "BebasNeueRegular", Helvetica, Arial, sans-serif;
	text-shadow: 0 -1px 0 #1b1929;
	color:#807367;
	display:block;
	padding:0 13px;
	height:27px;
	border:1px solid #4d453f;
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#b2a091 ), to(#ffe7d0));
	background: -moz-linear-gradient(-90deg, #514f5d, #33313e ) ;
	-webkit-box-shadow:inset 0 1px 0 #6B6974 ;
    -moz-box-shadow: inset 0 1px 0 #6B6974 ;
    box-shadow: inset 0 1px 0 #6B6974 ;
	-webkit-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
}

li:first-child a {
	border-right:none;
	padding-left:15px;
	-webkit-border-radius: 13px 0 0 13px;
    -moz-border-radius: 13px 0 0 13px;
    border-radius:13px 0 0 13px;
}

li:last-child a {
	-webkit-border-radius: 0 13px 13px 0;
    -moz-border-radius: 0 13px 13px 0;
    border-radius:0 13px 13px 0;
}


.switcher li.active a{
	color:#000;
	/*text-shadow:0 1px 1px #000;*/
	background: -webkit-gradient(linear, 0 bottom, 0 top, from(#ffe7d0 ), to(#b2a091));
/*	background: -moz-linear-gradient(-90deg, #24222b, #3d3b47 ) ;*/
	-webkit-box-shadow:inset 0 1px 1px #6b6974 ;/*
    -moz-box-shadow: inset 0 1px 1px #17161c ;
    box-shadow: inset 0 1px 1px #17161c ;*/
}

/** /switcher styles **/

#map-create {
    overflow: hidden;
    }
#sample-map-create {
    width: 300px;
    float: left;
    padding: 2px;
    background-color: #BCE6E5;
    }

#map-name {
    margin-left: 0;
    margin-right: auto;
    width: 283px;
    background-color: #BCE6E5;
    padding: 2px;
    text-align: center;
    }

#sample-map-create li {
    list-style: none;
    padding: 5px;
/*    line-height: 1.4em*/
    position: relative;
    
    }

.sample-container {
    height: 1.2em;
    }

#sample-map-create li label {
    position: absolute;
    bottom: 0;
    }

#sample-map-create li input {
    position: absolute;
    bottom: 0;
    right: 0;
    }

.map-submit-button {
    float: left;
    clear: left;
    }

#map-file-input {
    float: left;
     background-color: #BCE6E5;
     margin: 5px;
     padding: 2px;
    }

.smallsmallhead {
    font-size: 1.0em;
    border-bottom: 1px solid #ADADAD;
    margin-left: 70px;
    margin-right: 70px;
}

.smallsmallheadtitle {
    margin-left: 90px;
    margin-right: 70px;
    margin-top: 0px;
    padding-bottom: 2px;
    font-style: italic;
    font-size: 0.7em;
    text-align: left;
}


.smallheadindex {
    font-size: 1.6em;
    border-bottom: 1px solid #ADADAD;
    margin-left: 10px;
    padding-top: 15px;
}

.smallhead {
    font-size: 2.0em;
    border-bottom: 1px solid #ADADAD;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.smallheadtitle {
    margin-left: 70px;
    margin-right: 50px;
    margin-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ADADAD;
    font-style: italic;
    font-size: 0.7em;
    text-align: left;
}

.toc {
    margin-left: 45px;
    font-size: 0.8em;
}

.title {
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    color: #565656;
    border-bottom: 1px solid #ADADAD;
}

.smalltitle {
    font-style: italic;
    font-size: 0.7em;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #565656;
    border-bottom: 1px solid #ADADAD;
    margin-left: 30px;
}

.logs {
    font-style: italic;
    font-size: 0.5em;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-left: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    color: #787878;
    border-bottom: 1px solid #ADADAD;
}

.text {
    font-size: 0.8em;
    padding-left: 60px;
}

.form {
    padding-left: 50px;
    width: auto;
    overflow: hidden;
    display: inline-block;
}

.links-bar {
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 3px;
    font-size: 0.5em;
    font-style: italic;
    border-bottom: 1px solid #ADADAD;
    margin-bottom: 30px;
}

.sminfo {
    width: 100%;
    border-bottom: 1px dashed #FACFCF;
    font-style: italic;
    margin: 0 auto;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 0.6em;
    text-align: left;
}


.error {
    width: 70%;
    border: 5px dashed #FACFCF;
    font-style: italic;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    background-color: #FFEEEE;
    text-align: left;
}

.info {
    width: 80%;
    border: 1px dashed #FACFCF;
    font-style: italic;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    background-color: #FFFFEE;
    text-align: center;
}

.errorinfo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.samplemapinfo {
    width: 50%;
    font-style: italic;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    background-color: #FEEFEF;
    text-align: center;
}

.sampleslist {
    width: 80%;
    font-size: 0.8em;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info-page-samples {
    font-style: italic;
    border-bottom: 1px dashed #FACFCF;
    color: #444;

}

.piecharts {
    width: 1200px;
    margin: 0 auto;
}

.rarefaction_curves {
    width: 1200px;
    margin: 0 auto;
}

ul {
    padding-left:20px;
}

li.fancy{
    list-style-type: none;
}

li.fancy:before {
       content: "» ";
   }

li.notype{
    list-style-type: none;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9em;
}


a {
    text-decoration: none;
}

a:link { 
    color: #BB2000;
    }
a:visited { 
    color: #BB2000;
    }
a:hover { 
    color: #BB2000;
    background-color: #EFEFEF;
    text-decoration: none;
    }
a:active { 
    color: #333333;
    }


a.boxpopup3{position:relative;
    z-index:24;
    color:#046;
    border-bottom:thin dotted #046;
    text-decoration:none}
a.boxpopup3:hover{z-index:25; background-color:#FF0}
a.boxpopup3 span{display: none}
a.boxpopup3:hover span{ /*DISPLAYS ONLY ON HOVER*/
    display: block;
    position: absolute;
    top: 2em; left:0; width:400px;
    padding:5px;
    font-size: 0.8em;
    color:#000; 
    text-align: left;
}



.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#D6D6D6}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #ededed;
  border-right:1px solid #ededed;
  background:#e0e0e0}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fafafa;
  border-right:1px solid #fafafa;
  background:#dddddd}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #dddddd;
  border-right:1px solid #dddddd;}
.spiffy4{
  border-left:1px solid #ededed;
  border-right:1px solid #ededed}
.spiffy5{
  border-left:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0}
.spiffyfg{
  background:#EFEFFF;
  padding: 10px;}

