{% extends "base.tmpl" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="head">Viamics » About</div>
<div class="title">About and FAQ</div>
<div class="links-bar">{% include "links.tmpl" %}</div>

<div class="text">
<p>There is nothing to see here yet.

<p>Please don't hesitate to send your questions, feature requests or bug reports to a.murat.eren@gmail.com.
</div>

{% endblock %} 
