<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ request.META.HTTP_HOST }}/static/style.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script src="/static/vutil.js" type="text/javascript" ></script>
    <title>{% block title %}Viamics{% endblock %}</title>

{% block meta %}
{% endblock %}


{% block script %}
{% endblock %}
</head>

<body {% block bodyparams %}{% endblock %}>
<div id="wrapper">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>

