<option value="#FFFFFF">White</option>
<option value="#000000">Black</option>
<option value="#FF0000">Red</option>
<option value="#0000FF">Blue</option>
<option value="#00FF00">Green</option>
<option value="#FF4500">Orange Red</option>
<option value="#FFA500">Orange</option>
<option value="#4169E1">Royal Blue</option>
<option value="#87CEEB">Sky Blue</option>
<option value="#6A5ACD">Slate Blue</option>
<option value="#9ACD32">Yellow Green</option>
<option value="#8FBC8F">Dark Sea Green</option>
<option value="#228B22">Forrest Green</option>
