{% extends "base.tmpl" %}

{% block title %}Info..{% endblock %}

{% block content %}
<div class="head">Viamics » Append Samples to Analysis</div>
<div class="title">Analysis Id: {{ analysis_id }}</div>
<div class="links-bar">{% include "links.tmpl" %}</div>

<p class="info">...

<div class="form">
<form enctype="multipart/form-data" method="post" action="/update_samples/{{ analysis_id }}/append/">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
