{% extends "base.tmpl" %}

{% block title %}Info..{% endblock %}

{% block content %}
<div class="head">Viamics » New Pyrosequencing Analysis</div>
<div class="title">Hmm..</div>
<div class="links-bar">{% include "links.tmpl" %}</div>

<p class="info">Upload your sequences for analysis. If you provide a confidence threshold, any sequences classified with a confidence lower than the threshold will be regarded as unclassified.</p>

<div class="form">
<form enctype="multipart/form-data" method="post" action="/new/rdp/">
<div class="fields">
{{ form.as_p }}
<a href="#" onclick="prepend_input(this,this.parentElement.childElementCount);"><p>More Files <img src="/static/pulldown.jpg" /></p></a>
</div>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
