<a href="{{ request.META.HTTP_HOST }}/">Analyses</a> / <a href="{{ request.META.HTTP_HOST }}/new/rdp/">New Pyrosequencing Analysis</a> / <a href="{{ request.META.HTTP_HOST }}/new/qpcr/">New QPCR Analysis</a> / <a href="{{ request.META.HTTP_HOST }}/about/">About the Framework</a>
