{% extends "base.tmpl" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="head">Viamics</div>
<div class="title">A framework that is not quite ready to use yet..</div>
<div class="links-bar">{% include "links.tmpl" %}</div>


<p class="info">{{ content }}.<br /><br />You may go back to <a href="/">home page</a>
{% endblock %}

